<section class="benefits container" id="benefits">
  <div class="benefits-container">
    <div class="benefits-content">
      <h2 class="benefits-title">Benefits of working with me</h2>
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg class="benefits-icon-icon" width="40" height="40">
            <use href="/img/icon.svg#icon-user"></use>
          </svg>
          <div class="benefits-item-item">
            <h3 class="benefits-h-title">Expertise</h3>
            <p class="benefits-item-title">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon-icon" width="40" height="40">
            <use href="/img/icon.svg#icon-message-chat"></use>
          </svg>
          <div class="benefits-item-item">
            <h3 class="benefits-h-title">Communication</h3>
            <p class="benefits-item-title">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon-icon" width="40" height="40">
            <use href="/img/icon.svg#icon-brush"></use>
          </svg>
          <div class="benefits-item-item">
            <h3 class="benefits-h-title">Art</h3>
            <p class="benefits-item-title">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </div>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon-icon" width="40" height="40">
            <use href="/img/icon.svg#icon-clock"></use>
          </svg>
          <div class="benefits-item-item">
            <h3 class="benefits-h-title">Urgent execution</h3>
            <p class="benefits-item-title">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="benefits-button-b">
      <a href="#footer" class="benefits-button">Order the project</a>
    </div>
  </div>
</section>