<section class="covers container">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-inner">
      <ul class="covers-list first-line">
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/chego-mob.jpg    1x,
                /img/Cover/Cover_mob/chego-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/chego.jpg"
              alt="A brand that is inspired by forms creates by natures"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/energy-flow-mob.jpg    1x,
                /img/Cover/Cover_mob/energy-flow-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/energy-flow.jpg"
              alt="Get body in shape stay healthy"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/english-excellence-mob.jpg    1x,
                /img/Cover/Cover_mob/english-excellence-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/english-excellence.jpg"
              alt="Discover the joy of learning english with us"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/fruitbox-mob.jpg    1x,
                /img/Cover/Cover_mob/fruitbox-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/fruitbox.jpg"
              alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/green-harvest-mob.jpg    1x,
                /img/Cover/Cover_mob/green-harvest-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/green-harvest.jpg"
              alt="Organic vegetables to your diet today"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/energy-flow-mob.jpg    1x,
                /img/Cover/Cover_mob/energy-flow-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/energy-flow.jpg"
              alt="Get body in shape stay healthy"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/fruitbox-mob.jpg    1x,
                /img/Cover/Cover_mob/fruitbox-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/fruitbox.jpg"
              alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/mimino-mob.jpg    1x,
                /img/Cover/Cover_mob/mimino-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/mimino.jpg"
              alt="Hotel-restaurant complex"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-list second-line">
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/mimino-mob.jpg    1x,
                /img/Cover/Cover_mob/mimino-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/mimino.jpg"
              alt="Hotel-restaurant complex"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/power-pulse-mob.jpg    1x,
                /img/Cover/Cover_mob/power-pulse-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/power-pulse.jpg"
              alt="Transforming your body shape with Power Pulse"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/reviving-tradition-mob.jpg    1x,
                /img/Cover/Cover_mob/reviving-tradition-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/reviving-tradition.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/starlight-studio.jpg    1x,
                /img/Cover/starlight-studio@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/starlight-studio.jpg    1x,
                /img/Cover/starlight-studio@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/starlight-studio-mob.jpg    1x,
                /img/Cover/Cover_mob/starlight-studio-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/starlight-studio.jpg"
              alt="Turn your business into an online leader"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/wallet-mob.jpg    1x,
                /img/Cover/Cover_mob/wallet-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/wallet.jpg"
              alt="Manage your Finances Masterfully"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/chego-mob.jpg    1x,
                /img/Cover/Cover_mob/chego-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/chego.jpg"
              alt="A brand that is inspired by forms creates by natures"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/energy-flow-mob.jpg    1x,
                /img/Cover/Cover_mob/energy-flow-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/energy-flow.jpg"
              alt="Get body in shape stay healthy"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/english-excellence-mob.jpg    1x,
                /img/Cover/Cover_mob/english-excellence-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/english-excellence.jpg"
              alt="Discover the joy of learning english with us"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/fruitbox-mob.jpg    1x,
                /img/Cover/Cover_mob/fruitbox-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/fruitbox.jpg"
              alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/green-harvest-mob.jpg    1x,
                /img/Cover/Cover_mob/green-harvest-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/green-harvest.jpg"
              alt="Organic vegetables to your diet today"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/mimino-mob.jpg    1x,
                /img/Cover/Cover_mob/mimino-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/mimino.jpg"
              alt="Hotel-restaurant complex"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/fruitbox-mob.jpg    1x,
                /img/Cover/Cover_mob/fruitbox-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/fruitbox.jpg"
              alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/green-harvest-mob.jpg    1x,
                /img/Cover/Cover_mob/green-harvest-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/green-harvest.jpg"
              alt="Organic vegetables to your diet today"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/english-excellence-mob.jpg    1x,
                /img/Cover/Cover_mob/english-excellence-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/english-excellence.jpg"
              alt="Discover the joy of learning english with us"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/power-pulse-mob.jpg    1x,
                /img/Cover/Cover_mob/power-pulse-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/power-pulse.jpg"
              alt="Transforming your body shape with Power Pulse"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/reviving-tradition-mob.jpg    1x,
                /img/Cover/Cover_mob/reviving-tradition-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/reviving-tradition.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/starlight-studio.jpg    1x,
                /img/Cover/starlight-studio@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/starlight-studio.jpg    1x,
                /img/Cover/starlight-studio@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/starlight-studio-mob.jpg    1x,
                /img/Cover/Cover_mob/starlight-studio-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/starlight-studio.jpg"
              alt="Turn your business into an online leader"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/wallet-mob.jpg    1x,
                /img/Cover/Cover_mob/wallet-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/wallet.jpg"
              alt="Manage your Finances Masterfully"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/chego-mob.jpg    1x,
                /img/Cover/Cover_mob/chego-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/chego.jpg"
              alt="A brand that is inspired by forms creates by natures"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>

        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/energy-flow-mob.jpg    1x,
                /img/Cover/Cover_mob/energy-flow-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/energy-flow.jpg"
              alt="Get body in shape stay healthy"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-list forth-line">
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/reviving-tradition-mob.jpg    1x,
                /img/Cover/Cover_mob/reviving-tradition-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/reviving-tradition.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/wallet-mob.jpg    1x,
                /img/Cover/Cover_mob/wallet-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/wallet.jpg"
              alt="Manage your Finances Masterfully"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/chego.jpg 1x, /img/Cover/chego@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/chego-mob.jpg    1x,
                /img/Cover/Cover_mob/chego-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/chego.jpg"
              alt="A brand that is inspired by forms creates by natures"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/energy-flow-mob.jpg    1x,
                /img/Cover/Cover_mob/energy-flow-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/energy-flow.jpg"
              alt="Get body in shape stay healthy"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/fruitbox.jpg 1x, /img/Cover/fruitbox@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/fruitbox-mob.jpg    1x,
                /img/Cover/Cover_mob/fruitbox-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/fruitbox.jpg"
              alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/green-harvest.jpg    1x,
                /img/Cover/green-harvest@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/green-harvest-mob.jpg    1x,
                /img/Cover/Cover_mob/green-harvest-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/green-harvest.jpg"
              alt="Organic vegetables to your diet today"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/english-excellence.jpg    1x,
                /img/Cover/english-excellence@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/english-excellence-mob.jpg    1x,
                /img/Cover/Cover_mob/english-excellence-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/english-excellence.jpg"
              alt="Discover the joy of learning english with us"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/power-pulse-mob.jpg    1x,
                /img/Cover/Cover_mob/power-pulse-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/power-pulse.jpg"
              alt="Transforming your body shape with Power Pulse"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/mimino.jpg 1x, /img/Cover/mimino@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/mimino-mob.jpg    1x,
                /img/Cover/Cover_mob/mimino-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/mimino.jpg"
              alt="Hotel-restaurant complex"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
      </ul>
      <ul class="covers-list fifth-line">
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/power-pulse.jpg    1x,
                /img/Cover/power-pulse@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/power-pulse-mob.jpg    1x,
                /img/Cover/Cover_mob/power-pulse-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/power-pulse.jpg"
              alt="Transforming your body shape with Power Pulse"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/reviving-tradition.jpg    1x,
                /img/Cover/reviving-tradition@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/reviving-tradition-mob.jpg    1x,
                /img/Cover/Cover_mob/reviving-tradition-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/reviving-tradition.jpg"
              alt="Reviving the traditional Ukrainian artistry in every stitch"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/starlight-studio.jpg    1x,
                /img/Cover/starlight-studio@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/starlight-studio.jpg    1x,
                /img/Cover/starlight-studio@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/starlight-studio-mob.jpg    1x,
                /img/Cover/Cover_mob/starlight-studio-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/starlight-studio.jpg"
              alt="Turn your business into an online leader"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/Cover/wallet.jpg 1x, /img/Cover/wallet@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/wallet-mob.jpg    1x,
                /img/Cover/Cover_mob/wallet-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/wallet.jpg"
              alt="Manage your Finances Masterfully"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
        <li class="covers-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/Cover/energy-flow.jpg    1x,
                /img/Cover/energy-flow@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/Cover/Cover_mob/energy-flow-mob.jpg    1x,
                /img/Cover/Cover_mob/energy-flow-mob@2x.jpg 2x
              "
            />
            <img
              class="covers-img"
              src="/img/Cover/energy-flow.jpg"
              alt="Get body in shape stay healthy"
              loading="lazy"
              width="544"
              height="314"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
