<section class="faq container" id="faq">
    <h1 class="faq-header">FAQ</h1>
    <ul class="faq-list accordion-container">
        <li class="faq-item ac">
            <div class="item-cont ac-header">
                <h3 class="item-header">
                    What programming languages are most often used in your project?
                </h3>
                <button class="faq-accordion-btn ac-trigger">
                    <svg class="faq-icon-down" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-down"></use>
                    </svg>
                    <svg class="faq-icon-upp visually-hidden" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-upp"></use>
                    </svg>
                </button>
            </div>
            <div class="faq-accordion-content ac-panel">
                <p class="faq-accordion-text ac-text">
                    In the field of web development, there are various technologies and
                    programming languages. Typically, this includes a combination of
                    frontend (client side) and backend (server side) languages.
                </p>
            </div>
        </li>
        <li class="faq-item ac">
            <div class="item-cont ac-header">
                <h3 class="item-header">How can I contact you?</h3>
                <button class="faq-accordion-btn ac-trigger">
                    <svg class="faq-icon-down" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-down"></use>
                    </svg>
                    <svg class="faq-icon-upp visually-hidden" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-upp"></use>
                    </svg>
                </button>
            </div>
            <div class="faq-accordion-content ac-panel">
                <p class="faq-accordion-text ac-text">
                    In the field of web development, there are various technologies and
                    programming languages. Typically, this includes a combination of
                    frontend (client side) and backend (server side) languages.
                </p>
            </div>
        </li>
        <li class="faq-item ac">
            <div class="item-cont ac-header">
                <h3 class="item-header">What are the deadlines for the project?</h3>
                <button class="faq-accordion-btn ac-trigger">
                    <svg class="faq-icon-down" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-down"></use>
                    </svg>
                    <svg class="faq-icon-upp visually-hidden" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-upp"></use>
                    </svg>
                </button>
            </div>
            <div class="faq-accordion-content ac-panel">
                <p class="faq-accordion-text ac-text">
                    The terms of project implementation depend to a large extent on a
                    number of factors, such as the scope of the project, its complexity,
                    and the availability of resources. Determining exact deadlines is a
                    difficult task, and it usually occurs during the planning phase of the
                    project.
                </p>
            </div>
        </li>
        <li class="faq-item ac">
            <div class="item-cont ac-header">
                <h3 class="item-header">Do you provide advice or support?</h3>
                <button class="faq-accordion-btn ac-trigger">
                    <svg class="faq-icon-down" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-down"></use>
                    </svg>
                    <svg class="faq-icon-upp visually-hidden" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-upp"></use>
                    </svg>
                </button>
            </div>
            <div class="faq-accordion-content ac-panel">
                <p class="faq-accordion-text ac-text">
                    The terms of project implementation depend to a large extent on a
                    number of factors, such as the scope of the project, its complexity,
                    and the availability of resources. Determining exact deadlines is a
                    difficult task, and it usually occurs during the planning phase of the
                    project.
                </p>
            </div>
        </li>
        <li class="faq-item ac">
            <div class="item-cont ac-header">
                <h3 class="item-header">What payment methods do you accept?</h3>
                <button class="faq-accordion-btn ac-trigger">
                    <svg class="faq-icon-down" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-down"></use>
                    </svg>
                    <svg class="faq-icon-upp visually-hidden" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-upp"></use>
                    </svg>
                </button>
            </div>
            <div class="faq-accordion-content ac-panel">
                <p class="faq-accordion-text ac-text">
                    Payment through credit and debit cards such as Visa, MasterCard,
                    specialized electronic payment systems such as PayPal, as well as
                    payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </p>
            </div>
        </li>
        <li class="faq-item ac">
            <div class="item-cont ac-header">
                <h3 class="item-header">
                    What does the process of developing a software <br />
                    product look like from idea to implementation?
                </h3>
                <button class="faq-accordion-btn ac-trigger">
                    <svg class="faq-icon-down" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-down"></use>
                    </svg>
                    <svg class="faq-icon-upp visually-hidden" width="20" height="20" stroke="#FAFAFA">
                        <use href="/img/icon.svg#icon-Icon-upp"></use>
                    </svg>
                </button>
            </div>
            <div class="faq-accordion-content ac-panel">
                <p class="faq-accordion-text ac-text">
                    Payment through credit and debit cards such as Visa, MasterCard,
                    specialized electronic payment systems such as PayPal, as well as
                    payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </p>
            </div>
        </li>
    </ul>
</section>