<header class="header container">
  <div class="header-logo">
    <img src="../img/About_me/About_me_desk/about_me_desk-min.jpg" width="80" height="80" alt="logo">
    <span class="header-logo-text">jefferson*
    </span>
  </div>
  <nav class="header-menu">
    <a href="#" class="header-menu__link">Menu

      <ul class="header-menu__list">
        <li class="header-menu__item"><a href="#">About Me</a></li>
        <li class="header-menu__item"><a href="#">Benefits</a></li>
        <li class="header-menu__item"><a href="#">Projects</a></li>
        <li class="header-menu__item"><a href="#">FAQ</a></li>
      </ul>
    </a>

  </nav>
  <button class="header-button">Order the project</button>
</header>