<header class="header container">
  <div class="header-logo">
    <img
      loading="lazy"
      srcset="
        ./img/Header/jefferson-min.png    1x,
        ./img/Header/jefferson_2x-min.png 2x
      "
      src="./img/Header/jefferson-min.png"
      width="80"
      height="80"
      alt="logo"
    />
    <span class="header-logo-text">jefferson* </span>
  </div>
  <nav class="header-menu">
    <a href="#" class="header-menu__link"
      >Menu
      <ul class="header-menu__list">
        <li class="header-menu__item"><a href="#about">About Me</a></li>
        <li class="header-menu__item"><a href="#benefits">Benefits</a></li>
        <li class="header-menu__item"><a href="#projects">Projects</a></li>
        <li class="header-menu__item"><a href="#faq">FAQ</a></li>
      </ul>
    </a>
  </nav>
  <a class="header-button" href="#footer">Order the project</a>
  <div class="header-burger">
    <span></span>
  </div>
</header>
