<header class="header container">
  <div class="header-logo">
    <img srcset="img/Header/jefferson_2x-min.png 2x, img/Header/jefferson-min.png 1x" src="img/Header/jefferson-min.png"
      width="80" height="80" alt="logo">
    <span class="header-logo-text">jefferson*
    </span>
  </div>
  <nav class="header-menu">
    <a href="#" class="header-menu__link">Menu

      <ul class="header-menu__list">
        <li class="header-menu__item"><a href="#">About Me</a></li>
        <li class="header-menu__item"><a href="#">Benefits</a></li>
        <li class="header-menu__item"><a href="#">Projects</a></li>
        <li class="header-menu__item"><a href="#">FAQ</a></li>
      </ul>
    </a>

  </nav>
  <a class="header-button" href="#">Order the project</a>
</header>

<!-- header_modal_mod-min_2x.png -->
<!-- header_modal_mod-min.png -->
<!-- jefferson_2x-min.png -->
<!-- jefferson-min.png -->