<section class="hero">
  <div class="hero-content container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>

    <ul class="hero-networks">
      <li class="hero-networks-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-networks-link"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="hero-networks-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-networks-link"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="hero-networks-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-networks-link"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="hero-networks-item">
        <a
          href="https://makcimeliano.github.io/portfolio-js-3/"
          class="hero-networks-link"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="hero-networks-item">
        <a href="mailto:" class="hero-networks-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
