<section class="projects-section" id="projects">
    <div class="projects-container">
        <h2 class="section-title">Projects</h2>
        <div class="mySwiper">
            <ul class="projects-list swiper-wrapper">
                <li class="projects-item swiper-slide">
                    <!-- <div class="section-content"> -->
                        <div class="white-div">
                            <ul class="stack-list">
                                <li class="stack-item">#react</li>
                                <li class="stack-item">#js</li>
                                <li class="stack-item">#node.js</li>
                                <li class="stack-item">#git</li>
                            </ul>
                            <h3 class="text">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                            <button class="see-project-btn" type="button" name="see-project">
                                <a href="https://makcimeliano.github.io/portfolio-js-3/" target="_blank"
                                    class="link">See project
                                </a>
                            </button>
                        </div>
                        <div class="black-div">
                            <!-- <source
          srcset="../img/Projects/Desk/read_jorney_desk-min.jpg 1x, 
          ../img/Projects/Desk/read_jorney_desk_2x-min.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/Projects/Tab/read_jorney-min.jpg 1x,
          ../img/Projects/Tab/read_jorney_2x-min.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="../img/Projects/Mob/read_jorney_mob-min.jpg 1x,
          ../img/Projects/Mob/read_jorney_mob_2x-min.jpg 2x"
          media="(max-width: 767px)"
        /> -->
                            <img src="/img/Projects/1-read-jornal-1x.jpg"
                                srcset="/img/Projects/1-read-jornal-1x.jpg 1x, /img/Projects/1-read-jornal-2x.jpg 2x"
                                class="project-image" alt="first-project-reading" width="614">

                        </div>
                    <!-- </div> -->
                </li>
                <li class="projects-item swiper-slide">
                    <!-- <div class="section-content"> -->
                        <div class="white-div">
                            <ul class="stack-list">
                                <li class="stack-item">#react</li>
                                <li class="stack-item">#js</li>
                                <li class="stack-item">#node.js</li>
                                <li class="stack-item">#git</li>
                            </ul>
                            <h3 class="text">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                            <button class="see-project-btn" type="button" name="see-project">See project</button>
                        </div>
                        <div class="black-div">
                            <img src="/img/Projects/2-petlove-1x.jpg"
                                srcset="/img/Projects/2-petlove-1x.jpg 1x, /img/Projects/2-petlove-2x.jpg 2x"
                                class="project-image" alt="first-project-pet" width="614">
                        </div>
                    <!-- </div> -->
                </li>
                <li class="projects-item swiper-slide">
                    <!-- <div class="section-content"> -->
                        <div class="white-div">
                            <ul class="stack-list">
                                <li class="stack-item">#react</li>
                                <li class="stack-item">#js</li>
                                <li class="stack-item">#node.js</li>
                                <li class="stack-item">#git</li>
                            </ul>
                            <h3 class="text">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                            <button class="see-project-btn" type="button" name="see-project">See project</button>
                        </div>
                        <div class="black-div">
                            <img src="/img/Projects/3-vocabBuilder-1x.jpg"
                                srcset="/img/Projects/3-vocabBuilder-1x.jpg 1x, /img/Projects/3-vocabBuilder-2x.jpg 2x"
                                class="project-image" alt="first-project-vocabbuilder" width="614">
                        </div>
                    <!-- </div> -->
                </li>
            </ul>

            <!-- <div class="swiper-btns">
            <button class="swiper-button-next next">                
            </button>
            <button class="swiper-button-prev prev">                
            </button>
        </div> -->
        </div>

        <div class="slide-btns">
            <button class="prev-slide" disabled>
                <svg class="arrow-narrow-prev">
                    <use href="/img/icon.svg#icon-arrow-narrow-left">

                    </use>
                </svg>
            </button>
            <button class="next-slide">
                <svg class="arrow-narrow-next">
                    <use href="/img/icon.svg#icon-arrow-narrow-right">

                    </use>
                </svg>
            </button>

        </div>
    </div>
</section>