<!-- <section class="projects container">
    <h1>Projects</h1>
</section> -->

<section class="projects-section">
    <div class="container">
        <h2 class="section-title">Projects</h2>
        <div class="swiper">
        <ul class="projects-list">
            <li class="projects-item">
                <div class="section-content">
                    <div class="white-div">
                        <ul class="stack-list">
                            <li class="stack-item">#react</li>
                            <li class="stack-item">#js</li>
                            <li class="stack-item">#node.js</li>
                            <li class="stack-item">#git</li>
                        </ul>
                        <h3 class="text">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                        <button class="see-project-btn" type="button" name="see-project">
                            <a
                            href="https://makcimeliano.github.io/portfolio-js-3/"
                            target="_blank"
                            class="link"
                            >See project
                                <!-- <svg class="icon" height="24" width="24">
                                <use href="./images/icons.svg#icon-instagram"></use>
                                </svg> -->
                            </a>
                        </button>
                    </div>
                    <div class="black-div">
                        <!-- <img 
                        src="../img/img-1@1x.jpg" 
                        srcset="../img/img-1@1x.jpg 1x, ../img/img-1@2x.jpg 2x"
                        class="project-image" 
                        alt="first-project-reading"
                        width="614"> -->
                        
                    </div>
                </div>
            </li>
            <li class="projects-item">
                <div class="section-content">
                    <div class="white-div">
                        <ul class="stack-list">
                            <li class="stack-item">#react</li>
                            <li class="stack-item">#js</li>
                            <li class="stack-item">#node.js</li>
                            <li class="stack-item">#git</li>
                        </ul>
                        <h3 class="text">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                        <button class="see-project-btn" type="button" name="see-project">See project</button>
                    </div>
                    <div class="black-div">
                        <!-- <img 
                        src="../img/img-2@1x.jpg" 
                        srcset="../img/img-2@1x.jpg 1x, ../img/img-2@2x.jpg 2x"
                        class="project-image" 
                        alt="first-project-pet"
                        width="614"> -->
                    </div>
                </div>
            </li>
            <li class="projects-item">
                <div class="section-content">
                    <div class="white-div">
                        <ul class="stack-list">
                            <li class="stack-item">#react</li>
                            <li class="stack-item">#js</li>
                            <li class="stack-item">#node.js</li>
                            <li class="stack-item">#git</li>
                        </ul>
                        <h3 class="text">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                        <button class="see-project-btn" type="button" name="see-project">See project</button>
                    </div>
                    <div class="black-div">
                        <!-- <img 
                        src="../img/img-1@1x.jpg" 
                        srcset="../img/img-3@1x.jpg 1x, ../img/img-3@2x.jpg 2x"
                        class="project-image" 
                        alt="first-project-vocabbuilder"
                        width="614"> -->
                    </div>
                </div>
            </li>
        </ul>
        
        <div class="swiper-btns">
            <button class="swiper-button-next">Next
                <!-- <svg class="arrow-narrow-next" height="32" width="32">
                    <use href="../img/symbol-defs.svg#arrow-narrow-next"></use>
                  </svg> -->
            </button>
            <button class="swiper-button-prev">Prev
                <!-- <svg class="arrow-narrow-prev" height="32" width="32">
                    <use href="../img/symbol-defs.svg#arrow-narrow-prev"></use>
                  </svg> -->
            </button>
        </div>
        </div>
    </div>
</section>

