<section class="reviews container">
  <h1 class="reviews-title">REVIEWS</h1>
  <div class="reviews-swiper">
    <ul class="reviews-wrapper"></ul>
    <div class="swiper-button-prev">
      <button class="button-prev">
        <<svg class="arrow-prev" width="24" height="24">
          <use href="../icon.svg#icon-arrow-narrow-right1"></use>
        </svg>
      </button>
    </div>
    <div class="swiper-button-next"></div>
  </div>
</section>

<script type="module" src="./js/reviews.js"></script>
