<section class="reviews container">
  <h1 class="reviews-title">REVIEWS</h1>
  <div class="swiper">
    <ul class="swiper-wrapper reviews-list">

    </ul>
    <!-- Используем ваши кнопки для навигации -->
  </div>
  <div class="reviews-swiper-btns">
    <button class="reviews-swiper-button-prev" disabled>
      <svg class="reviews-arrow-prev" width="32" height="32">
        <use href="./img/icon.svg#icon-arrow-narrow-left"></use>
      </svg>
    </button>
    <button class="reviews-swiper-button-next">
      <svg class="reviews-arrow-next active-arr" width="32" height="32">
        <use href="./img/icon.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
  </div>
</section>