@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter Tight, Helvetica, Arial, sans-serif;

  --text-white-color: #FAFAFA;
  --text-gray-color: rgba(250, 250, 250, 0.60);
  --pink-color: #ED3B44;
  --background-section-color: #1C1D20;
  --background-element-color: #242527;
  --pink-color-hover: #E0373F;
  --text-white-color-hover: #FFFFFF;
  --pink-color-focus: #E0373F;

}