@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css');

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter Tight, Helvetica, Arial, sans-serif;

  --text-white-color: #fafafa;
  --text-gray-color: rgba(250, 250, 250, 0.6);
  --pink-color: #ed3b44;
  --background-section-color: #1c1d20;
  --background-element-color: #242527;

  --text-white-color-hover: #ffffff;
  --pink-color-hover: #e0373f;
  --pink-color-focus: #e0373f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
