.benefits-container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-section-color);
  color: #fafafa;
  max-width: 375px;
  /* min-width: 320px; */
}

.benefits-title {
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-right: auto;
  display: flex;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.benefits-item {
  display: flex;
  flex-wrap: wrap;
  background: #242527;
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 24px;

  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
}

.benefits-item-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.benefits-h-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.benefits-item-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-icon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 48px;
  height: 48px;
  margin-right: 15px;
  background-color: #ed3b44;
  stroke: #fafafa;
  fill: transparent;
  border-radius: 50%;
  border-radius: 10px;
  padding: 12px;
}

.benefits-button-b {
  margin-bottom: 57px;
  margin-top: 16px;
}

.benefits-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 187px;
  height: 55px;
}

@media screen and (min-width: 768px) {
  .benefits-container {
    max-width: 720px;
  }

  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .benefits-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .benefits-button-b {
    margin-bottom: 96px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .benefits-content {
    display: flex;
  }

  .benefits-list {
    gap: 16px;
    padding-top: 0px;
    width: 680px;
  }

  .benefits-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .benefits-button-b {
    margin-bottom: 164px;
    padding-right: 493px;
    padding-left: 696px;
  }
}
