/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;

  padding-right: 16px;
  padding-left: 16px;

}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 767px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* Styles for Tablet devices (от 768px до 1439px) */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 1024px;
    padding-right: 32px;
    padding-left: 32px;

  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
