.faq {
    font-family: "Inter Tight", sans-serif;
    background-color: var(--background-section-color);
    padding-bottom: 64px;
    /* margin: 0; */
    max-width: 375px;
}

.faq-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);

    margin-bottom: 32px;
}

.faq-list {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

.faq-item.ac {
    margin-top: 0;
    border: none;
    background-color: var(--background-section-color);

    border-top: 1px solid rgba(250, 250, 250, 0.2);
    width: 384px;
}

.faq-item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.item-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;

    padding: 20px 0;
}

.faq-item.ac .ac-trigger {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.faq-item.ac .ac-trigger:hover,
.faq-item.ac .ac-trigger:focus {
    border-color: var( --text-white-color-hover)
}

.faq-item.ac .faq-accordion-btn.ac-trigger::after {
    display: none;
}

.faq-item.ac .ac-panel .ac-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);

    padding: 0;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .faq {
        padding-bottom: 96px;
        max-width: 768px;
    }

    .faq-item.ac {
        width: 704px;
    }

    .item-header {
        padding: 32px 0;
    }

    .faq-item.ac .ac-panel .ac-text {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .faq {
        padding-bottom: 164px;
        max-width: 1440px;
    }

    .faq-item.ac {
        width: 688px;
        min-height: 104px;
    }

    .faq-list li:nth-last-child(-n+3) {
        padding-left: 32px;
    }

    .faq-list li:nth-child(-n+3) .item-cont {
        padding-right: 32px;
    }
    .faq-list li:nth-child(-n+3) {
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-list li:nth-child(1) {
        order: 1;
    }

    .faq-list li:nth-child(2) {
        order: 3;
    }

    .faq-list li:nth-child(3) {
        order: 5;
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-list li:nth-child(4) {
        order: 2;
    }

    .faq-list li:nth-child(5) {
        order: 4;
    }
    .faq-list li:nth-child(6) {
        order: 6;
    }
}