/* ---Mobile--- */

.hero {
  background-image: var(--background-hero-mobile);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-hero-mobile-2x);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  padding-top: 281px;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-white-color);
  margin-bottom: 212px;
}

.hero-networks {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.hero-networks-item {
}

.hero-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 37px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-networks-item:last-child .hero-networks-link {
  width: 178px;
  margin: 0;
}
.hero-networks-link:hover,
.hero-networks-link:focus {
  border: 1px solid var(--text-white-color);
  transform: scale(1.05);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
  }

  .hero {
    background-image: var(--background-hero-tablet);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--background-hero-tablet-2x);
    }
  }

  .hero-content {
    padding-top: 300px;
  }

  .hero-networks-link {
    padding: 18px 17px;
    width: 53px;
    height: 55px;
    font-size: 16px;
  }

  .hero-networks-item:last-child .hero-networks-link {
    padding: 18px 24px;
    width: 223px;
  }

  .hero-networks {
    gap: 8px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .hero {
    background-image: var(--background-hero-desktop);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--background-hero-desktop-2x);
    }
  }

  .hero-title {
    font-size: 90px;
    padding-left: 146px;
    padding-right: 146px;
  }

  .hero-networks-link {
    padding: 18px 20px;
    width: 55px;
  }
}

/* theme-switcher */
#theme-switcher {
  width: 80px;
  position: relative;
  top: -260px;
  outline: none;
  right: -20px;
  border-radius: 30px;
  padding-left: 4px;
  background-color: transparent;
  color: var(--text-white-color);
}
#theme-switcher option {
  background-color: transparent;
}
