@import url('./base.css');

.reviews {
  width: 375px;
  height: 570px;
  padding: 64px 16px;
  background-color: var(--background-section-color);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .reviews {
    width: 768px;
    height: 650px;
    padding: 96px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    width: 1440px;
    height: 786px;
    padding: 164px 32px;
  }
}

.reviews-container {
  width: 344px;
  height: 442px;
  padding: 0 auto;
}

@media screen and (min-width: 768px) {
  .reviews-container {
    width: 704px;
    height: 458px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-container {
    width: 1376px;
  }
}

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.reviews-swiper {
  width: 344px;
  height: 386px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .reviews-swiper {
    width: 704px;
    height: 402px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-swiper {
    width: 1376px;
    height: 402px;
  }
}
.reviews-wrapper {
  width: 344px;
  height: 302px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .reviews-wrapper {
    width: 704px;
    height: 302px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-wrapper {
    width: 1376px;
  }
}

.reviews-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 344px;
  height: 302px;
}
@media screen and (min-width: 768px) {
  .reviews-item {
    width: calc(100% -16px) / 2;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-item {
    width: calc(100%- (16px * 3)) / 4;
  }
}

.reviews-img {
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--text-white-color);
  margin-bottom: 8px;
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: calc(100%-32px);
  height: 120px;
}

.reviews-swiper-btns {
  width: 116px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 0;
  overflow: hidden;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: nowrap; */
}

@media screen and (min-width: 768px) {
  .reviews-swiper-btns {
    width: 156px;
    height: 68px;
  }
}

.reviews-swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 12px;
  width: 52px;
  height: 52px;
  bottom: -30px;
  z-index: 10;
  margin: 0 auto;
  background-color: transparent;
}

.reviews-swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  bottom: -30px;
  z-index: 10;
  overflow: hidden;
  margin: 0 auto;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .reviews-swiper-button-prev,
  .reviews-swiper-button-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}

.reviews-arrow-prev,
.reviews-arrow-next {
  stroke: #3b3b3b;
  color: #3b3b3b;
  fill: none;
  display: block;
  overflow: visible;
  visibility: visible;
  opacity: 1;
}

.active {
  border: 1px solid rgba(250, 250, 250, 0.5);
  stroke: var(--text-white-color);
  color: var(--text-white-color);
  fill: none;
}

.active-arr {
  stroke: var(--text-white-color);
  color: var(--text-white-color);
  fill: none;
  display: block;
  overflow: visible;
  visibility: visible;
  opacity: 1;
}

.not-found {
  color: #e74c3c;
  font-size: large;
}
